set noparent

# whitespace/*: Keep the kernel defaults imposed by checkfiles/checkpatch.
# runtime/printf: Conflicts with recent compiler checks requiring puts().
# runtime/threadsafe_fn: This application is (will no become) not threaded.
# runtime/arrays: Avoid like char[variable] decls. Should be enabled.
filter=-whitespace/tab,-build/include,-whitespace/braces,-runtime/printf,-runtime/threadsafe_fn,-runtime/arrays

#
# We have to much code using lines > 80 chars. While new code should be < 80
# chars, we cannot really enforce it.

linelength=120
